html{
    background-color: #FFFAE5;
    font-family: 'Poppins';font-size: 22px;
}

.topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.topnav a:hover {
    background-color: #ddd;
    color: black;
}
.topnav a.active {
    font-weight: bold;
    text-decoration: underline;
}
.topnav .search-container {
    float: left;
}

.topnav .botonPerfil{
    float: right;
}

.topnav input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
}
  
.topnav .search-container button{
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
}
.topnav .search-container button:hover {
    background: #ccc;
}

.topnav .botonCarrito button{
    float: left;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

.topnav .botonCarrito button:hover{
    background: #ccc;
}

.topnav .botonPerfil button{
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

.topnav .botonPerfil button:hover{
    background: #ccc;
}

@media screen and (max-width: 600px) {
    .topnav .search-container, .topnav .botonCarrito ,.topnav .botonPerfil {
      float: none;
    }
    .topnav a, .topnav input[type=text], .topnav .search-container button, .topnav .botonCarrito button ,.topnav .botonPerfil button {
      display: block;
      text-align: left;
      width: 100%;
      margin: 0;
      padding: 14px;
    }
    .topnav input[type=text] {
      border: 1px solid #ccc;  
    }
}

#cocina{
    text-align: center;
    font-size: 36px;
    font-weight: bold;
}

#contenedortopnav2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#topnav2 * {
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
#topnav2 a:hover {
    background-color: #ddd;
    color: black;
}
#topnav2 a.active {
    font-weight: bold;
    background-color: bisque;
}

#contenedorForm{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 40px;
}

#bloque1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #F0F0F0;
    padding-left: 35px;
    padding-right: 35px;
    border: 1px solid black;
    border-radius: 12px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.227);
    width: 500px;
}

#bloque2 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#columna1{
    display: flex;
}

#columna2 {
    display: inline-block;
    text-align: right;
    
}
